
.merriweather-banner {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-variation-settings:
    "wdth" 100;
}
main {
  max-width: 1320px;
  margin: 0 auto;
}
.banner {
  width: 1320px;
  height: 600px;
  border-radius: 16px;
  background-image:  linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url("../new-year-offer-resources/images/Banner\ Image.png");
  background-size: cover;
  background-position: center;
}
.banner-box {
  width: 632px;
  height: 244px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 177px 344px 177px 344px;

}
.banner-sub-title {
  color: rgb(255, 255, 255);
font-size: 32px;
font-weight: 400;
line-height: 40px;
letter-spacing: 0%;
text-align: center;
}
.banner-title {
  color: rgb(255, 255, 255);
font-size: 72px;
font-weight: 900;
line-height: 95px;
letter-spacing: 0%;
text-align: center;
margin-top: 16px;
}
/* categories styles */
.categories {
  width: 802px;
  height: 806px;
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 120px 249px;

}
.categories-title {
  color: rgb(255, 0, 0);
font-family: Inter;
font-size: 88px;
font-weight: 700;
line-height: 107px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 48px;
}
.categories-description {
  color: rgb(255, 0, 0);
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 16px;
}
.categories-sub-title {
  color: rgb(7, 2, 17);
font-family: Inter;
font-size: 48px;
font-weight: 700;
line-height: 58px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 122px;
}
.categories-img {
  width: 802px;
  height: 500px;
}
/* party styles */
.party {
  width: 1320px;
  height: 600px;
  border-radius: 16px;
  background-image: url("../new-year-offer-resources/images/Vectorrr.png"), linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.party-title {
  width: 642px;
  height: 176px;
  color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 64px;
font-weight: 900;
line-height: 88px;
letter-spacing: 11%;
text-align: left;
padding-top: 126px;
padding-left: 126px;
margin-bottom: 24px;
}
.party-description {
  width: 697px;
  height: 60px;
  color: rgba(255, 255, 255, 0.8);
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
padding-left: 126px;
margin-bottom: 48px;
}
.party-contant {
  padding-left: 158px;
padding-bottom: 142px;
}
.party-sub-title {
  width: 103px;
  height: 24px;
  color: rgb(255, 255, 255);
font-family: Inter;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;
}
.party-img {
  padding-top: 68px;
  padding-right: 138px;
  padding-right: 67px;
}
/* place styles */
.place {
  width: 1320px;
  height: 482px;
  border-radius: 16px;
  background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 120px;
}
.even-box {
  font-family: Inter;
font-size: 32px;
font-weight: 600;
line-height: 56px;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
}
.even {
  color: rgb(255, 0, 0);
}
.even-btn {
  border-radius: 8px;
  background: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
font-family: Inter;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;
border: none;
margin-top: 48px;
}
/* offer styles */